[Unit]
Description=Shields.io HTTP redirection server

[Service]
ExecStart=/home/m/start-shields-redirect.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
